
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Colors
$division-of-the-index: #408080;
$bezalel-narkiss: #a22223;
$media-block: #848484;
$narkiss-prize: #ddb03d;
$publications: #3f809c;
$about-block: #b5a270;

// Block background colors
$color-1: #880000;
$color-2: #408080;
$color-3: rgb(171, 140, 84);
$color-4: rgb(97, 97, 84);
$color-5: rgb(111, 65, 81);
$color-6: rgb(135, 128, 85);
$color-7: rgb(173, 158, 118);
$color-8: rgb(128, 144, 158);
$color-9: #DCB03C;
$color-10: #DFDFDF;

// WPC
$wpc-block-height: 250px;
$wpc-image-height: 200px;
$wpc-font-size: 24px;

// Welcome division blocks
$welcome-divisions-height: 300px;
$welcome-image-height: 200px;
$welcome-divisions-font-size: 24px;